<IfModule mod_rewrite.c>
    Options +FollowSymLinks -Indexes
    RewriteEngine on
    RewriteBase /
    # Send request via index.php (again, not if its a real file or folder)
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(?!index\.php).*$ index.php/$0 [L,QSA]
</IfModule> 